#components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    font-size: 20px;
    /* background: rgba(253, 158, 158, 0.2);   */
    /*margin: 16px 24px 16px 0; */
    float: left;
}
#components-layout-demo-top .ant-layout-header {
    background: rgba(255, 255, 255, 1)
}
#components-layout-demo-top #content{
    padding: 50px;
    background: rgb(238, 238, 238);
}
#account-dropdown {
    display: relative;
    float: right;
    top: -50px;
}