#menu-sider-bar-layout .logo {
    width: 220px;
    height: 31px;
    font-size: 20px;
    font-family: Avenir;
    font-weight: bold;
    padding-right: 0.5em;
    /* background: rgba(253, 158, 158, 0.2);   */
    /*margin: 16px 24px 16px 0; */
    float: left;
}
#menu-sider-bar-layout .ant-layout-header {
    background: rgba(255, 255, 255, 1)
}
#menu-sider-bar-layout #content{
    padding: 50px;
    width: 100%;
    background: rgb(238, 238, 238);
}
#menu-sider-bar-layout .fixed {
    position: fixed;
    width:100%;
    z-index: 100;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
}
#menu-sider-bar-layout #content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 2em;
    min-height: 40em;
    /* height: 500px; */
}
#menu-sider-bar-layout #content > div:nth-child(2) {
    flex:1;
}

#sider {
    height: 100%;
    width: 250px;
    background: #fff;
    color: #fff;
}