#lesson-detail {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
}
#lesson-detail #lesson-detail-content {
    flex:1;
    margin-left: 20px;
    margin-top: 5px;
    padding: 20px;
    background: rgb(255, 255, 255);
    border: rgb(233, 234, 236) solid 1px;
}
#lesson-detail #lesson-detail-container {
    flex:1;
    display: flex;
    flex-direction: row;
}
#lesson-detail #lesson-detail-mission-sidebar {
    /* flex:1; */
}
